
    /* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

    /* common styles */

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}

/* =====================
     header styles 
=====================*/

header{
    width: 100%;
    height: 635px;
    background-color: #2D25A0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-title h1{
    font-size: 64px;
    line-height: 50px;
    color: #FFFFFF;
}

.header-title a{
    text-decoration: none;
 }

.btn{
    font-size: 16px;
    background-color: #E02C6D;
    color: #FFFFFF;
    Padding: 10px 24px 10px 24px;
}

.btn i{
   margin-left: 5px;
}

.btn:hover{
    background-color: rgb(41, 41, 141);
    color: #fff;
    border: 2px solid #fff;
}

.top-banner img{
    width: 556px;
    height: 438px;
}

header:hover .top-banner img{
    transform: rotate(360deg);
    transition: transform 2s ease-in-out;
}

/* =====================
     players styles 
=====================*/

.container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 27px; 
}

.player{
    width: 330px;
    height: 474px;
    padding: 15px;
    background-color: #FFFFFF;
    margin: 0;
    box-shadow:  0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player-photo{
    width: 330px;
    height: 256px;
    align-items: center;
}

.player .player-photo img{
    width: 100%;
    height: 100%;
}

.player-name{
    font-size: 28px;
    margin: 16px 0px 0px 10px;
}

.player-details{
    font-size: 16px;
    color: #6C6C6C;
    font-weight: 400px;
}

/* =====================
     trophies styles 
=====================*/
.trophy-area{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px;
    height: 280px;
    border-radius: 10px;
    box-shadow:  0px 0px 50px rgba(0, 0, 0, 0.10);
}

.trophy-info {
    line-height: 10px;
    margin-right: 100px;
}

.trophy-info h1{
    font-size: 50px;
}

.trophy-info h2{
    font-size: 30px;
}

.trophy-info h1{
    font-size: 40px;
}

.trophy-info p{
    line-height: 20px;
    text-align: justify;
    color: gray;
    margin-bottom: 40px;
}

.trophy-info a{
    text-decoration: none;
    font-size: 16px;
    background-color: #E02C6D;
    color: #FFFFFF;
    Padding: 10px 24px 10px 24px;
}

.trophies{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.trophy{
    padding: 15px;
    text-align: center;
}

.trophy-image{
    width: 80%;
    height: 50%;
}

.trophy .trophy-image img{
    width: 75%;
    height: 100%;
}

.trophy-details p{
    color: rgb(83, 79, 79);
}

/* =====================
     partners styles 
=====================*/
.partner-area{
    padding: 20px 30px;
    height: auto;
    width: 85%;
    border-radius: 10px;
    box-shadow:  0px 0px 50px rgba(0, 0, 0, 0.10);
    margin: auto;
   margin-top: 40px;
   text-align: center;
   letter-spacing: 15px;
}

.partners{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.partner{
    width: 200px;
    height: 150px;
}

.partner img{
    width: 95%;
    height: 95%;
}

.partner img:hover{
    width: 100%;
    height: 100%;
}


/* =====================
     footer styles 
=====================*/

.footer-section{
    width: 100%;
    height: 215px;
    padding-top: 10px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo{
    width: 35%;
    height: 110px;
    margin: auto;
}

.footer-logo img{
    width: 100%;
    height: 100%;
}

.social-icons{
    text-align: center;
}

.social-icons a{
    text-decoration: none;
    font-size: 40px;
    color:grey;
}

.social-icons a:hover{
    color: rgb(95, 94, 94);
    font-size: 42px;
}

.social-icons p{
    font-size: 18px;
}


/* =====================================>
    Media Query Or Responsive styles
 <===================================== */

/* ========== mobile device =========== */
@media only screen and (max-width:688px){
    header{
        width: 100.5%;
        height: 695px;
        flex-direction: column;
    }

    .header-title h1{
        font-size: 36px;
        line-height: 5px;
        margin-bottom: 50px;
    }
    
    .top-banner img{
        width: 329px;
        height: 259px;
    }
    .players{
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 0;
    }

    .trophy-area{
        grid-template-columns: repeat(1, 1fr);
        height: auto;
    }

    .trophy-info{
        padding: 0px 10px;
        text-align: center;
        margin-right: 0;
    }

    .trophy-info h2{
        font-size: 1.5em;
    }

    .trophy-info h1{
        font-size: 2em;
        line-height: 40px;
    }

    .trophies{
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
        margin-top: 20px;
    }

    .trophy{
        width: 150px;
        height: 200px;
    }

    .partners{
        grid-template-columns: repeat(1, 1fr);
    }
    
    .footer-logo{
        width: 50%;
        height: 65px;
        margin: auto;
    }
}

/* ========== tablet devices =========== */
@media only screen and (min-width:689px) and (max-width:992px){
    header{
        height: 450px;
    }

    .header-title h1{
        font-size: 40px;
        line-height: 30px;
    }
    
    .top-banner img{
        width: 400px;
        height: 330px;
    }

    .players{
        grid-template-columns: repeat(2, 1fr);
    }

    .trophy-area{
        grid-template-columns: repeat(1, 1fr);
        height: 520px;
    }

    .trophies{
        margin-top: 20px;
    }
}