
    /* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

    /* common styles */

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}

/* header styles */

header{
    width: 100%;
    height: 635px;
    background-color: #2D25A0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-title h1{
    font-size: 64px;
    line-height: 50px;
    color: #FFFFFF;
}

.header-title a{
    text-decoration: none;
 }

.btn{
    font-size: 16px;
    background-color: #E02C6D;
    color: #FFFFFF;
    border: none;
    Padding: 10px 24px 10px 24px;
}

.btn i{
   margin-left: 5px;
}

.btn:hover{
    background-color: rgb(41, 41, 141);
    color: #fff;
    border: 2px solid #fff;
}

.top-banner img{
    width: 556px;
    height: 438px;
}

header:hover .top-banner img{
    transform: rotate(360deg);
    transition: transform 2s ease-in-out;
}

/* players card styles */

.container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 27px; 
}

.player{
    width: 330px;
    height: 474px;
    padding: 15px;
    background-color: #FFFFFF;
    margin: 0;
    box-shadow:  0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player-photo{
    width: 330px;
    height: 256px;
    align-items: center;
}

.player .player-photo img{
    width: 100%;
    height: 100%;
}

.player-name{
    font-size: 28px;
    margin: 16px 0px 0px 10px;
}

.player-details{
    font-size: 16px;
    color: #6C6C6C;
    font-weight: 400px;
}


/* footer styles */

.footer-section{
    width: 100%;
    height: 215px;
    padding-top: 10px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo{
    width: 35%;
    height: 110px;
    margin: auto;
}

.footer-logo img{
    width: 100%;
    height: 100%;
}

.social-icons{
    text-align: center;
}

.social-icons a{
    text-decoration: none;
    font-size: 40px;
    color:grey;
}

.social-icons a:hover{
    /* color:rgba(46, 46, 134, 0.829); */
    color: rgb(95, 94, 94);
    font-size: 45px;
}

.social-icons p{
    font-size: 18px;
}

/* ----------------
------------------
    media query
-----------------
----------------- */

/* mobile device */
@media only screen and (max-width:688px){
    
    header{
        width: 100.5%;
        height: 695px;
        flex-direction: column;
    }

    .header-title h1{
        font-size: 36px;
        line-height: 5px;
        margin-bottom: 50px;
    }
    
    .top-banner img{
        width: 329px;
        height: 259px;
    }
    .players{
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-logo{
        width: 50%;
        height: 65px;
        margin: auto;
    }
}
